body {
    text-align: center;
    background-color: #502323
}

h1 {
    font-size: 30px;
    font-family: Segoe UI;
    margin-top: 50px;
    color: #ffffff;
}

div#canvas {
    background-color: #464646;
    padding: 10px;
    width: 500px;
    height: 150px;
    margin-top: 100px;
    margin-left: 400px;
}

div#footer {
    background-color: #202020;
    padding: 10px;
    width: 500px;
    height: 50px;
    margin-top: 10px;
    margin-left: 400px;
    text-align: left;
}

div#res {
    color: #ffffff;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
}

input[type=number] {
    padding: 5px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 100px;
  }